.spinner-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-size-md {
  width: 4rem;
  height: 4rem;
}

.spinner-size-sm {
  width: 2rem;
  height: 2rem;
}

.loaderBg {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}


